<!-- As a link -->
<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
]  </nav>
  
  
<h1 style="color:white ; text-align:center ;" class="mt-5"> transaction history</h1>

<table>
    <tr>
      <th>Type</th>
      <th>amount</th>
    </tr>
    <tr *ngFor="let t of transaction ">
      <th>{{t.type}}</th>
      <td> {{t.amount}}</td>
    </tr>
  </table>
<div class="link">
    <a routerLink="/dashboard">Home</a>
</div>
